@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  height: 100vh;
  color: #333;
  /* background-image: url('https://source.unsplash.com/1380x790/?nature,water'); */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* LAYOUT */
main {
  position: relative;
  width: 100rem;
  height: 60rem;
  background-color: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(200px);
  filter: blur();
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  overflow: hidden;
  display: flex;
}

.player {
  flex: 50%;
  padding: 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.75s;
}

/* ELEMENTS */
.name {
  position: relative;
  font-size: 3.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-weight: 300;
  margin-bottom: 1rem;
}

.score {
  font-size: 8rem;
  font-weight: 300;
  color: #c7365f;
  margin-bottom: auto;
}

.player--active {
  background-color: rgba(255, 255, 255, 0.898);
}
.player--active .name {
  font-weight: 700;
}
.player--active .score {
  font-weight: 400;
}

.player--active .current {
  opacity: 1;
}

.current {
  background-color: #c7365f;
  opacity: 0.8;
  border-radius: 9px;
  color: #fff;
  width: 65%;
  padding: 2rem;
  text-align: center;
  transition: all 0.25s;
}

.current-label {
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 1.7rem;
  color: #ddd;
}

.current-score {
  font-size: 3.5rem;
}

/* ABSOLUTE POSITIONED ELEMENTS */
.btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #444;
  background: none;
  border: none;
  font-family: inherit;
  font-size: 1.8rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 400;
  transition: all 0.2s;

  background-color: white;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);

  padding: 0.7rem 2.5rem;
  border-radius: 50rem;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}

.btn::first-letter {
  font-size: 2.4rem;
  display: inline-block;
  margin-right: 0.7rem;
}

.btn--new {
  top: 4rem;
}
.btn--roll {
  top: 39.3rem;
}
.btn--hold {
  top: 46.1rem;
}

.btn:active {
  transform: translate(-50%, 3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn:focus {
  outline: none;
}

.dice {
  position: absolute;
  left: 50%;
  top: 16.5rem;
  transform: translateX(-50%);
  height: 10rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
}

.player--winner {
  background-color: #2f2f2f;
}

.player--winner .name {
  font-weight: 700;
  color: #925667;
}

/* @media queries */
@media screen and (min-width: 895px) and (max-width: 1100px) {
  main {
    width: 80rem;
    height: 50rem;
  }
  .current {
    width: 58%;
    padding: 1rem;
  }
  .btn {
    margin: -3rem 0rem;
  }
}
@media screen and (min-width: 750px) and (max-width: 894px) {
  main {
    width: 70rem;
    height: 48rem;
  }
  .btn--roll {
    top: 36.3rem;
  }
  .btn--hold {
    top: 42.1rem;
  }
  .current {
    width: 92%;
    padding: 2rem;
  }
  .name {
    font-size: 2.2rem;
  }
  .score {
    font-size: 7rem;
  }
  .btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #444;
    background: none;
    border: none;
    font-family: inherit;
    font-size: 17px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 900;
    transition: all 0.2s;
    background-color: white;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    padding: 0.7rem 2.5rem;
    border-radius: 17rem;
    box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
  }
  .btn::first-letter {
    font-size: 2rem;
  }
  .btn--new {
    top: 7rem;
  }
  .dice {
    width: 8rem;
    height: 8rem;
  }
  .btn {
    margin: -3rem 0rem;
  }
}
@media screen and (min-width: 0px) and (max-width: 500px) {
}

@media screen and (min-width: 400px) and (max-width: 750px) {
  main {
    width: 37rem;
    height: 34rem;
  }
  .player {
    padding: 54px 24px;
  }
  .btn--new {
    top: 2rem;
  }
  .current {
    width: 65%;
    padding: 16px;
  }
  .current-label {
    text-transform: uppercase;
    margin-bottom: -1px;
    font-size: 11px;
  }
  .score {
    font-size: 4rem;
  }
  .dice {
    height: 5rem;
    width: 5rem;
    top: 12.5rem;
  }
  .current-score {
    font-size: 1.5rem;
  }
  .btn {
    padding: 7px 0.7rem;
    font-size: 0.8rem;
  }
  .btn::first-letter {
    font-size: 1.4rem;
    display: inline-block;
    margin-right: -0.3rem;
  }
  .btn--roll {
    top: 24.3rem;
  }
  .btn--hold {
    top: 29rem;
  }
  .name {
    font-size: 2.2rem;
  }
}
